.card {
    box-shadow: 0px 0px 2rem 0.5rem rgba(#6c63ff, 0.2);
    height: 25rem;
    width: 15rem;
    overflow: hidden;
    border-radius: 1rem;
    margin-right: 1rem;
    min-width: 200px;
    max-width: 350px;

    @media (max-width: 600px) {
        height: 12rem;
        width: 5rem;
        margin-right: 1rem;
    }

    &-link {
        text-decoration: none;
    }

    &:hover {
        box-shadow: 0px 0px 1rem 2px rgba(#6c63ff, 0.3);
    }

    &-header {
        color: white;
        display: flex;
        justify-content: space-between;
    }

    &-body {
        padding-bottom: 16px !important;
        display: flex;
        justify-content: space-between;

        &-text {
            display: inline-flex;
        }
    }

    &-img {
        border-radius: 1rem;
        min-height: 21.5rem;
        background-size: cover;
    }

    &-title {
        border-radius: 1rem;
        margin-top: 5px;
        margin-left: 5px;
        background-color: rgba(#f50057, 0.5);
        max-width: 10rem;
        box-shadow: none;

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            background-color: rgba(#f50057, 0.5);
            cursor: initial;
        }
    }
}

.title-fav {
    padding: 0;
}
