.card {
    box-shadow: 0px 0px 1rem 2px rgba(#6C63FF,0.2);
    height: 25rem;
    width: 20rem;

    &:hover {
        box-shadow: 0px 0px 1rem 2px rgba(#6C63FF,0.3);
    }

    &-header {
        color: white;
        display: flex;
        justify-content: space-between;
    }

    &-body {
        padding-bottom: 16px !important;
    }
    
    &-img {
        border-radius: 0 0 1rem 1rem;
        min-height: 22rem;
        background-size: cover;
    }

    &-title {
        margin-top: 5px;
        margin-left: 5px;
        background-color: rgba(#F50057, 0.5);
        max-width: 10rem;
        box-shadow: none;
    
        &:hover, &:active, &:focus {
            box-shadow: none;
            background-color: rgba(#F50057, 0.5);
            cursor: initial;
        }
    }
}