.title {
    // width: 100%;
    font-weight: 700;
    // font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.no-shadow {
    box-shadow: none;
}

.login-button {
    color: white;
    padding: 4px 5px;
}

.no-min-height {
    min-height: 0;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.logo {
    color: inherit;
    text-decoration: none;
}

.no-underline {
    color: inherit;
    text-decoration: none;
}

.navbar {
    box-shadow: 0px 0px 1rem 0.5rem rgba(#6c63ff, 0.3);
}

.title-search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-result {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 150%;
}

.search-button {
    display: block;
    text-align: start;
}

.search-title {
    font-weight: 600;
}

.search-details {
    font-size: 0.7rem;
    color: #858796;
    font-weight: 400;
}

.username {
    margin-left: 0.5rem;
}

.nav-links {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 5px 40px 15px 0;
    position: relative;

    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        // left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &:hover:after {
        width: 100%;
        left: 0;
    }

    @media (max-width: 600px) {
        display: none;
    }
}
